In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
warnings.filterwarnings("ignore")

In [26]:
df = pd.read_csv(r"D:\Student Preformance Indicator\notebook\data\stud.csv")

In [27]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [28]:
# Define features and target variable
X = df.drop("math_score", axis=1)
y = df["math_score"]

In [29]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [ ]:
num_features = X.select_dtypes(exclude = "object").columns
cat_features = X.select_dtypes(include = "object").columns

In [34]:
# Create preprocessing pipelines for both numeric and categorical data
oh_transformer = OneHotEncoder(handle_unknown="ignore")
numerical_transformer = StandardScaler()

In [35]:
# Combine preprocessing steps
preprocessor = ColumnTransformer(
    [

    ("OneHotEncoder", oh_transformer, cat_features),
    ("StandardScaler", numerical_transformer, num_features)

    ]
)

In [36]:
X = preprocessor.fit_transform(X)

In [38]:
X.shape

(1000, 19)